.footfb, .footfbhover, .foottwitter, .foottwitterhover, .footicon, .footiconhover, .footyoutube, .footyoutubehover, .upcarrot, .car{
	background: url(../images/footer.png) no-repeat;
}

.footfbhover:hover{
	background-position: -1px -9px ;
	width: 16px;
	height: 16px;
}

.footfbhover{
	background-position: 0 -38px ;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.foottwitterhover:hover{
	background-position: -36px -10px ;
	width: 16px;
	height: 16px;
}

.foottwitterhover{
	background-position: -34px -40px ;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.footiconhover:hover{
	background-position: -68px -9px ;
	width: 16px;
	height: 16px;
}

.footiconhover{
	background-position: -68px -36px ;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.footyoutubehover:hover{
	background-position: -100px -13px ;
	width: 16px;
	height: 16px;
}

.footyoutubehover{
	background-position: -100px -41px ;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.upcarrot{
	background-position: -147px -50px ;
	width: 14px;
	height: 9px;
}

.car{
	background-position: -139px 0;
	width: 40px;
	height: 40px;
}
